label 
{
    margin-top: 1vh;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #000000;
    
}

button 
{
padding: 0;
}

.form-group 
{
    margin: 20vh 3vw 0 30vw;
}

.form-control 
{
    height: 100%;
    border-radius: 4vh;
    width: 60vw;
    font-size: 3vh;
    margin-top: 1vh;
}


.btn 
{
    border-radius: 6vh;
    font-size: 20px;
    height: 6vh;
    background-color: #0971B2;
    padding: 0vh 3vw;
    margin: 3vh 0 0 0;
    width: 15vw;
}

.btn:hover{
    box-shadow: #000000 1px 1px 2px;
}

select
{
    font-size: 2vh;
    padding: 0 0 0 0;
    color: #0971B2;
}


input[type='file']{
    background-color: #ffffff;
    border-radius: 2vh;
    cursor: pointer;
    width: 60vw;
}

.custom-file-label{
    border-radius: 2vh;
}

.label-file{
      margin: 2.5vh 0 0 0;
  }


@media(max-width: 768px){
    .btn{
        font-size: 15px;
        padding: 0;
        width: 15vw;
    }
}
@media(max-width: 576px){
    .form-group 
    {
        margin: 20vh 3vw 0 18vw;
    }
    .title{
        margin-left: 10vw;
        text-align: center;
    }
}
