label 
{
    margin-top: 0vh;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.5rem;
    color: #000000;
    
}

button 
{
    padding: 0;
}

.form-control 
{
    height: 100%;
    border-radius: 4vh;
    width: 100%;
    font-size: 1.4rem;
    margin-top: 1vh;
}


.botao 
{
    border-radius: 6vh;
    /* font-size: 1.8rem; */
    height: 6vh;
    background-color: #0971B2;
    padding: 0vh 1vw;
    margin: 4vh 0vh 0 0;
    width: 60%;
}


.botao:hover{
    box-shadow: #000000 1px 1px 2px;
}

select
{
    font-size: 2vh;
    padding: 0 0 0 0;
    color: #0971B2;
}


input[type='file']{
    background-color: #ffffff;
    border-radius: 2vh;
    cursor: pointer;
    width: 100%;
}

.custom-file-label{
    border-radius: 2vh;
}

.label-file{
      margin: 2.5vh 0 0 0;
}


@media(max-width: 768px){
    .botao{
        font-size: 1rem;
        padding: 0;
        width: 100%;
    }
}
@media(max-width: 576px){
    .title{
        margin-left: 10vw;
        text-align: center;
    }
}
